[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "freertos-smp"]
	path = lib/freertos-smp
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = smp
